<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row user-bar">
        <div class="container">
            <ul class="user-bar-admin-options-list hidden">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="row main-search">
        <div class="container">
            @Html.Partial("_SearchPartial")
        </div>
    </div>
    <div class="row main-nav">
        <div class="container">
            @Html.Partial("_NavigationPartial")
        </div>
    </div>
    <div class="row main-body">
        <div class="container">
        <div class="col-md-2 left-menu">
            @Html.Partial("_SideBar")
        </div>
        <div class="col-md-10 page-body">
            @RenderBody()
        </div>
            </div>
    </div>

    <div class="container body-content">
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cooxi by Mateusz Woźniak</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
